@font-face {
    font-family: 'taylor_gothic';
    src: url('fonts/TaylorGothic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: blanchedalmond;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: inset 0 0 60px #1c0705;
    padding-bottom: 1000px;
    background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}

header {
    background-color: #420D09;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 8px solid black;
    background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}

header h1 {
    margin: 0;
    font-family: 'taylor_gothic', sans-serif;
    font-size: 100px;
    color: #D4AF37;
    line-height: 1.2;
    text-shadow: black 3px 3px 5px;
}

p {
    background-color: #f8f4e3;
    border: 6px solid #B08D57;
    padding: 20px;
    margin: 76px auto;
    max-width: 900px;
    text-align: justify;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p:first-letter {
    font-size: 40px;
    color: #000000;
    float: left;
    margin-right: 2px;
}

.centralizada {
    display: block;
    margin: 30px auto;
    width: 600px;
    height: auto;
    border: 8px gold solid;
    box-shadow: 0 0 50px black;
    transition: transform 0.3s;
    transform: scale(1.05);
    border-radius: 4px;
}

blockquote {
    font-style: italic;
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    border-left: 6px solid #B08D57;
    background-color: #f8f4e3;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0 20px 20px 0;
}


.fade-in { 
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeIn 1s forwards; 
}

@keyframes fadeIn { 
    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
}

